%img(src="/images/oinkerbox-logo.gif" alt="OinkerBox Logo")
%h1 OinkerBox
%h2 Security Deposits for Peer-to-peer Transactions
%h3 Protecting wallets since August 14, 2011
Lessee
You receive a security deposit
Lessor
You are paying a security deposit