#header
  #header_interior
#container
  #main
    #splash_header
      #splash_header_right
      #splash_header_left
      #splash_header_middle
    #main_layout
      #main_c1
      #main_c2
      #main_c3
  #footer