As of #{@today}, we have #{@listings_available} apartments available for immediate occupancy. 
We will be showing these apartments  
- if @viewings_today
  later tonight and 
all day on #{@tomorrow}. 

%p You may call us at (646) 553-6331 for updated apartment availability or to find the status of your rental application.

%p Enter your phone number to retrieve detailed listing of available apartments, schedule a viewing, or to receive real time availability updates.

= image_tag @map_url


