%h1 Rakita Real Estate
-if current_user
  %p Listings Management System
  = link_to 'manage listings', listings_path
  %br manage agents
  %br view stats
  %p= current_user.email if current_user
- else
  %p So, you wanna rent something?