%h1 About totsNYC
%h2 Child development through participation
%h3 Local community for toddlers and their parents
%ul
  %li local events
  %li play date scheduling
  %li resources directories
  %li shared lists
  %li knowledge exchange: common tasks & guildelines
