%h1 Bulletin Board
%h2 (Auction-like demand registry)
%ul
  %li view default BB categories (a.k.a. topics)
  %li add your own category
  %li make a posting
Examples
%ul
  %li activity / class proposals (requests / offers)
  %li toddler clothes / fixture exchange
  %li demand registry