%h1 Local Resource Directories
%h2 (Children's stores, public spaces, playgrounds, parks, zoos, daycare facilities, schools, doctors, etc.)
%ul
  %li view default resource selection
  %li search resource / view resource groupings
  %li add resource (moderated)
  %li bookmark resource
  %li add resource-related event
  %li provide feedback
  %li manage resource categories
Implementation details
%ul
  %li venue / multi-venue