%h1 Local events
%h2 Borders story time, puppet shows, group outings, toddler-friendly carnivals, street fares, etc.
%ul
  %li view default event selection
  %li view event groupings
  %li search events / make groupings
  %li add event link (moderated)
  %li bookmark event
  %li register for event
  %li leave event comments
  %li rate event
  %li manage event tags / categories
Implementation details
%ul
  %li link to geography
  %li categories / tagging
  %li dates / duration / recurrence